/* FilterPopup.css */

.filter-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.filter-popup {
  background-color: #ECF1F5;
  border-radius: 10px;
  margin-right: 26px; /*arrumar*/
  width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  position: absolute;
  top: 13%;
  right: 30.5%; 
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.filter-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-popup-header h2 {
  font-size: 20px;
  color: #333;
  margin: 0;
  font-weight: 600;
}

.close-button {
  border: none;
  cursor: pointer;

}

.filter-section {
  margin-bottom: 25px;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  line-height: 150%;
  font-weight: 600;
  font-size: 16px;
  color: #090B81;
  background-color: #ECF1F5;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);

}


.filter-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #090B81;
  font-weight: 600;
  line-height: 150%;
}

.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-option {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
  font-weight: 500;
  color: #090B81;
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-option.selected {
  border: 3px solid #090B81;
  padding: 6px 10px 6px 14px; /* Adjust padding to compensate for thicker border */
}

.check-icon {
  margin-left: 2px;
}

.filter-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 66px;
  margin-right: 16px;
}

.filter-action-button {
  padding: 8px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s;
  border: none;
}

.filter-action-button.clear {
  background-color: white;
  color: #999999;
}

.filter-action-button.clear:hover {
  background-color: #e5e5e5;
}

.filter-action-button.save {
  background-color: #2a52be;
  color: white;
}

.filter-action-button.save:hover {
  background-color: #1e3d8f;
}

/* Responsive adjustments for different monitor sizes */
@media screen and (max-width: 1920px) {
  .filter-popup {
    right: 30%;
    top: 17%;
  }
}

@media screen and (max-width: 1600px) {
  .filter-popup {
    right: 25%;
    top: 17%;
  }
}

@media screen and (max-width: 1366px) {
  .filter-popup {
    right: 20%;
    top: 17%;
  }
}

@media screen and (max-width: 1280px) {
  .filter-popup {
    right: 8%;
    top: 17%;
  }
}