/* GameCard.css */
.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 223px;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
}

.game-image-container {
  width: 223px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 8px;
}

.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-title {
  font-size: 20px;
  font-weight:300;
  color: #090B81;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 150%;
}